---
title: Leisha & Sam
layout: default
---

<main>
	<section>
		<h2 id="ourstory">Our Story</h2>
		<p>Sam and Leisha met in 2016 in Indianapolis at the Sun King CANvitational. After exchanging numbers, their love story continued to unfold over the next almost ten years. Leisha, Sam, and their three cats Paolo, Fia, and Jiji are excited to take the next steps in life! 
		</p>
		<p>Sam and Leisha want to thank each and every one of you for being a part of their lives, love story, and fondest memories. 
		</p>
		<p>We hope to see you there to celebrate, eat, drink, and dance! </p>
	</section>
	<hr/>
	<section id="people">
		<h2>Wedding Party</h2>
		<dl>
			{% for it in site.data.people %}
			<dt>{{ it.name }}</dt>
			<dd class="role">{{ it.role }}</dd>
			<dd><img src="{{site.baseurl}}/assets/img/people/{{ it.pic }}"/></dd>
			<dd>{{ it.description }}</dd>
			{% endfor %}
		</dl>
	</section>
	<hr/>
	<section>
		<h2 id="details">Details - TODO</h2>
		<dl>
			<dt></dt>
			<dd></dd>
		</dl>
	</section>
	<hr/>
	<section>
		<h2 id="faq">FAQ - TODO</h2>
		<dl>
			{% for it in site.data.faq %}
			<dt><h3>{{ it.question }}</h3></dt>
			<dd><p>{{ it.answer }}</p></dd>
			{% endfor %}
		</dl>
	</section>
	<hr/>
	<section>
		<h2 id="guide">City Guide - TODO</h2>
		<dl>
			<dt></dt>
			<dd></dd>
		</dl>
	</section>
	<section>
		<h2 id="rsvp">RSVP - TODO</h2>
		<form>
			<button type="submit">Submit</button>
		</form>	
	</section>
</main>
