---
title: Leisha & Sam
description: Leisha Jenkins and Sam Varga are getting married! Their wedding will be on November 8, 2025, at Cinderwood in Indianapolis
layout: default
---

<main>
	<p>Disclaimer: This website is being updated frequently, so until this message goes away, don't treat as the source of truth for the wedding. And sure, I could just <em>not</em> publish it, but I like it this way.</p>
	<section id="ourstory">
		<h2>Our Story</h2>
		<p>Sam and Leisha met in 2016 in Indianapolis at the Sun King CANvitational. After exchanging numbers, their love story continued to unfold over the next almost ten years. Leisha, Sam, and their three cats Paolo, Fia, and Jiji are excited to take the next steps in life!</p>
		<p>Sam and Leisha want to thank each and every one of you for being a part of their lives, love story, and fondest memories.</p>
		<p>We hope to see you there to celebrate, eat, drink, and dance!</p>
	</section>
	<hr/>
	<section id="people">
		<h2>Wedding Party</h2>
		<dl>
			{% for it in site.data.people %}
			<dt>{{ it.name }}</dt>
			<dd class="role">{{ it.role }}</dd>
			<dd><img src="{{site.baseurl}}/assets/img/people/{{ it.pic }}"/></dd>
			<dd>{{ it.description }}</dd>
			{% endfor %}
		</dl>
	</section>
	<hr/>
	<section>
		<h2 id="details">Details - TODO</h2>
		<dl>
			<dt></dt>
			<dd></dd>
		</dl>
	</section>
	<hr/>
	<section>
		<h2 id="faq">FAQ - TODO</h2>
		<dl>
			{% for it in site.data.faq %}
			<dt><h3>{{ it.question }}</h3></dt>
			<dd><p>{{ it.answer | newline_to_br }}</p></dd>
			{% endfor %}
		</dl>
	</section>
	<hr/>
	<section>
		<h2 id="rsvp">RSVP - TODO</h2>
		<form>
			<button type="submit">Submit</button>
		</form>	
	</section>
</main>
