---
---
;

$fg: #041510;
$bg: #F6F2E7;
$grey: #DCD6CF;
$green: #314A41;
$orange: #BF7D2D;
$maroon: #4C0E1E;

nav {
  background-color: $orange;
  ul {
    margin: 0;
    padding: .5rem 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  };
  li a {
    text-decoration: none;
    color: $maroon;
  }
}

body {
  line-height: 1.2;
  background-color: $bg;
  color: $fg;
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

html {
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 40px;
  }
  main {
    padding: 0 1rem;
  }
}

main {
  padding: 0 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background: url(../img/hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  * {
    text-align: center;
  }

  h1 {
    text-transform: lowercase;
    font-size: 6rem;
    line-height: 0.7;
  }

}

h2 {
  font-size: 2rem;
  text-align: center;
}

#people {
  dl {
    text-align: center;
    * {
      margin: 0
    }
    dt:not(:first-child) {
      margin-top: 2rem;
    }
    dt {
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
    }
    .role {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }
    img {
      width: 50%;
      max-width: 400px;
      border-radius: 50%;
    }
  }
}
